@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;800&display=swap');

body {
  font-family: 'Lato', sans-serif;
  font-size: 1.1rem;
  background-color: #f1f2f3;
  margin: 0 auto 10rem;
  width: 50%;
}

ol > li {
  padding: 0.5rem 1rem;
}

hr {
  margin: 2rem 0;
}

form {
  margin: 2rem 0;
  width: 50%;
}

input, select {
  display: block;
  margin: 0.5rem 0 1rem;
  padding: 0.5rem;
  font-size: 1.1rem;
  font-family: 'Lato', sans-serif;
}

button {
  font-size: 1.1rem;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border: 2px solid black;
  border-radius: 0.5rem;
  color: rgb(0, 38, 255);
}

#output-text {
  font-size: 1.3rem;
  line-height: 2.5rem;
}